body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
}

.container {
  width: 100%;
      background-image: url('placeholders/placeholder_2550x550.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}


.text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cccccc;
  color: #fff;
  padding: 100px;
  text-align: right;
}
 
.text button {
  background-color: #cccccc;
  color: #fff;
  padding: 8px 10px;
  font-size: 20px;
  border: 2px solid white;
  cursor: pointer;
}

.grid {
  display: grid;
  padding-top: 50px;
  background-color: #fff;
  grid-template-columns: repeat(2, 650px);
  justify-items: center;
}

.product6x4 {
  background-color: #ccc;
  color: #ffffff;
  width: 600px;
  height: 400px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.p {
  font-size: 18px;
  text-align: center;
  margin: 0;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.product25x50 {
  width: 300px;
  text-align: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
  gap: 30px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none; 
}

.product25x50 {
  flex: 0 0 auto;
  width: 300px;
  text-align: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.placeholder img {
  width: 100%;
  height: auto;
}

